* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {}

body {
  margin: auto;
  background: #757575;
  font-family: 'Quicksand', sans-serif;
  font-size: large;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.profiler-results,
.profiler-left,
.profiler-top,
.profiler-no-controls { display: none; }

.img {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  img {
    width: 500px;
    height: 500px;
  }
}
