* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {}

body {
  margin: auto;
  // background: #757575; // my color
  background: #181818; // spotify bg
  font-family: 'Quicksand', sans-serif;
  font-size: large;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.profiler-results,
.profiler-left,
.profiler-top,
.profiler-no-controls { display: none; }

.img {
  display: flex;
  width: 1000px;
  // height: 100vh;
  height: 500px;
  margin: 0 auto;
  #chat, img {
    width: 500px;
    height: 500px;
  }
}

.song {
  // margin: 50px;
  margin-top: 50px;
  justify-content: center;
  display: grid;
  // grid-template-columns: 100px auto;
  // grid-template-rows: 50px 50px;
  grid-template-columns: 40px auto;
  grid-template-rows: 20px 20px;
  gap: 0px 10px;
  grid-auto-flow: row;
  grid-template-areas: "s1 s2" "s1 s3";

  #sp-albumImg, #sp-albumImg img  {
    width: 40px;
    height: 40px;
  }
  #sp-albumImg {
    grid-area: s1;
  }
  #sp-title {
    grid-area: s2;
    color: #1db954;
    font-size: 16px;
    font-weight: 400;
  }
  #sp-artist {
    grid-area: s3;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
}

.btn {
  margin-top: 20px;
  text-align: center;

  button {
    padding: 5px 10px;
    border: 0 solid;
    font-size: 12px;
    font-weight: 600;
    font-family: monospace;
    color: #1db954;
    background-color: #181818;
    cursor: pointer;
  }
  .btn-ctrl > button {
    width: 45px;
    height: 40px;
  }
  #btn-info, #btn-next {
    border: 1px solid;
    border-radius: 20px;
  }
  .info {
    margin-top: 20px;
    img {
      margin: 0 10px;
    }
  }
  .on {
    border-bottom: 1px solid;
  }
}

.chat {
  width: 500px;
  font-size: 20px;
  p {
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    box-shadow: inset 0 0 10px -5px #fff;
    background: #fffafa33;
  }
  #ch-block {
    display: block;
  }
  #ch-badge {
    width: inherit;
    height: inherit;
    padding-left: 3px;
  }
  #ch-user {
    font-weight: 700;
  }
  #ch-user-pic {
    width: 24px;
    height: 24px;
    border-radius: 5px;
  }
  #ch-emote {
    width: inherit;
    height: inherit;
  }
  #ch-msg {
    color: #efefef;
    font-weight: 400;
  }
}
